.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    position:absolute;
    }
	/* #footer{
		background-color: black;
		width: 100%;
		height: 600px;
		
	} */
	.footers a {
		color: grey;
	}
	.footers p {
		color: grey;
	}
	.footers ul {
		line-height:30px;
	}
	#social-fb:hover {
		 color: #3B5998;
		 transition:all .001s;
	 }
	 #social-tw:hover {
		 color: #4099FF;
		 transition:all .001s;
	 }
	 #social-gp:hover {
		 color: #d34836;
		 transition:all .001s;
	 }
	 #social-em:hover {
		 color: #f39c12;
		 transition:all .001s;
	 }